.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.root{
  background-color: lightsteelblue;
  height: 100%;
  width: 100%;
}

#header{
  position:relative;
  background-size:cover;
  background-image: url('./assets/mountain.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  width: 100%;
  height: 400px;
  margin:0 auto;
}

#title{
  padding:30px;
  background-color: white;
  position:relative;
  z-index: 1;
  margin: auto;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  top: 100px;
  opacity: 0.9;
}

.tab:hover{
  color:paleturquoise;
}

.pull-right{
  float:right;
}

#tabs{
  background-color: royalblue;
}

@media screen and (max-width:767px){

}